<link rel="stylesheet" href="./css/rememberThis.css">

<div class="contenedor">
   <div class="form">
       <form action="/rememberThis/addWords" method="POST">
    <input type="text" name="wordOne" >
    <input type="text" name="wordTwo" >
    <button type="submit" id="agregarBtn"></button>
    </form>
  
<div class="boxContainer">
        
<div class="box" id="boxOne">    
    <div class="title">
        <h1>Español</h1>
    </div>    
    <form action="/remeberThis/deleteWords">
        {{#each data}}
        <div class="words"> <p id="wordOne">{{wordOne}}</p>  </div>       
        {{/each}}
    </form>
    
</div>
    
<div class="box" id="boxTwo">
    <div class="title">
        <h1>Ingles</h1>
    </div>
    {{#each data}}
    <div class="words"> <p id=""> {{wordTwo}}</p> <div class="button "> <a href="/deleteWords/{{wordOne}}">Eliminar</a>  <a href="/editWords/{{wordOne}} ">Edit</a></div></div>  
    {{/each}}
    
</div>
</div>
<div class="buttons">
        <a class="aLeft" href=""><</a> <p class="">{{title}}</p> <a class="aRigth" href="">></a>
</div>
 </div> 
</div>
<script  src="./js/rememberThis.js"></script>
